:root {
  --background: #ffffff;
  --bg-light-hover: #DFF2ED;
  --bg-dark-hover: #007756;
  --main-color: #018762;
  --description: #515151;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body, button, input, textarea {
  font-size: 16px;
}

body, html {
  height: 100%;
  background-color: #fff;
  color: #1f1f1f;
}
body {
  margin: 0px auto;
}