:root {
  --background: #ffffff;
  --bg-light-hover: #DFF2ED;
  --bg-dark-hover: #007756;
  --main-color: #018762;
  --description: #515151;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
